html, body {
  margin: 0;
}

.main_content {
  padding: 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 8px;
  background: lightgray;
}

.header__logo {
  width: 80px;
  height: 40px;
  font-size: 32px;
}

.header__user {
  font-size: 32px;
  button {
    margin-left: 12px;
    font-size: 32px;
  }
}

.post {
  padding: 8px 0;
}

.post_id {
  padding: 6px 0;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.th, .td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}